<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="lang" content="en"/>
    <title>Sinatra Bootstrap</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js" ></script>
    <script type="text/javascript" src="/javascripts/lib/modernizr-1.6.min.js" ></script>
    <script type="text/javascript" src="/javascripts/application.js" ></script>
    <link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/app.css" media="screen" rel="stylesheet" type="text/css"/>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
